  name: Build and Publish
  on: push
  jobs:
    build:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
          with:
            fetch-depth: '0'
        - name: Validate Gradle Wrapper
          uses: gradle/actions/wrapper-validation@v4
        - name: Set up JDK 21
          uses: actions/setup-java@v4
          with:
            java-version: 21
            distribution: temurin

        - name: Build
          run: ./gradlew build -x test

        - name: Test
          run: ./gradlew test check

        - if: github.repository == 'FabricCompatibilityLayers/Mod-Remapping-API' && github.ref_type == 'tag'
          name: Publish
          run: ./gradlew build modrinth
          env:
            MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}

        - name: Store reports if any
          if: failure()
          uses: actions/upload-artifact@v4
          with:
            name: reports
            path: |
              **/build/reports/
              **/build/test-results/